name: CI/CD Pipeline

on:
  push:
    branches: [ main, 'release/*' ]
  pull_request:
    branches: [ main, 'release/*' ]


jobs:
  security-scan:
    name: Snyk Analysis
    uses: ./.github/workflows/security-scanning.yml
    permissions:
      contents: read
      security-events: write
    with:
      java-version: '17'
      run-container-scan: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      SNYK_ORG_ID: ${{ secrets.SNYK_ORG_ID }}

  unit-tests:
    name: Unit Tests & Coverage
    uses: ./.github/workflows/unit-testing.yml
    with:
      java-version: '17'
      coverage-threshold: 50
      fail-on-coverage: false

  code-quality:
    name: SonarQube Cloud Analysis
    needs: [unit-tests]
    uses: ./.github/workflows/quality-analysis.yml
    with:
      java-version: '17'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}

