# ============================================================
#  CI/CD PIPELINE
# ============================================================

name: CI/CD Pipeline

permissions:
  contents: read
  security-events: write

# ------------------------------------------------------------
#  EVENTOS QUE DISPARAN EL WORKFLOW
# ------------------------------------------------------------
on:
  push:
    branches: [ "main", "*release*" ]
  pull_request:
    branches: [ "main", "*release*" ]
  workflow_dispatch:
    inputs:
      override_gates:
        description: "Permite saltar validaciones de Gates en emergencias"
        required: false
        default: "false"
        type: choice
        options: [ "false", "true" ]

env:
  JAVA_VERSION: "17"
  MAVEN_VERSION: "3.8.6"

# ------------------------------------------------------------
#  JOBS DEL PIPELINE
# ------------------------------------------------------------
jobs:

  # ==========================================================
  # 1. BUILD DOCKER IMAGE
  # ==========================================================
  build-docker:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker build -t myapp:${{ github.sha }} .
          echo "IMAGE_TAG=myapp:${{ github.sha }}" >> $GITHUB_ENV

      - name: Save image as artifact
        run: docker save myapp:${{ github.sha }} -o myapp.tar

      - name: Upload docker image
        uses: actions/upload-artifact@v4
        with:
          name: myapp-image
          path: myapp.tar

  # ==========================================================
  # 2. SECURITY SCAN – Snyk (SCA, SAST, Container)
  # ==========================================================
  security-scan:
    name: Snyk Analysis
    needs: [ build-docker ]
    uses: ./.github/workflows/security-scanning.yml
    with:
      java-version: "17"
      image-sha: ${{ github.sha }}
    secrets:
      APP_ID: "APP123"
      JIRA_URL: ${{ secrets.JIRA_URL }}
      JIRA_USER: ${{ secrets.JIRA_USER }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_TOKEN }}
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      SNYK_ORG_ID: ${{ secrets.SNYK_ORG_ID }}
      JIRA_PROJECT: "SCRUM"
      

  # ==========================================================
  # 3. CODE QUALITY – SonarQube Cloud
  # ==========================================================
  code-quality:
    name: SonarQube Cloud Analysis
    needs: [ build-docker ]
    uses: ./.github/workflows/quality-analysis.yml
    with:
      java-version: "17"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
