name: CI/CD Pipeline

on:
  push:
    branches: [ main, 'release/*' ]
  pull_request:
    branches: [ main, 'release/*' ]


jobs:
  build:
    name: Build & Test Job
    uses: ./.github/workflows/build-application.yml
    with:
      java-version: '17'
      maven-version: '3.8.6'

  security-scan:
    name: Snyk Analysis
    needs: [build]
    uses: ./.github/workflows/security-scanning.yml
    permissions:
      contents: read
      security-events: write
    with:
      java-version: '17'
      run-container-scan: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      SNYK_ORG_ID: ${{ secrets.SNYK_ORG_ID }}

  code-quality:
    name: SonarQube Cloud Analysis
    needs: [build]
    uses: ./.github/workflows/quality-analysis.yml
    with:
      java-version: '17'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
