name: Security Scanning

on:
  workflow_call:
    inputs:
      java-version:
        type: string
        default: "17"

    secrets:
      SNYK_TOKEN:
        required: true
      SNYK_ORG_ID:
        required: true
      JIRA_URL:
        required: true
      JIRA_USER:
        required: true
      JIRA_API_TOKEN:
        required: true
      APP_ID:
        required: false
      JIRA_PROJECT:
        required: false

    outputs:
      critical-count:
        value: ${{ jobs.snyk.outputs.critical }}
      high-count:
        value: ${{ jobs.snyk.outputs.high }}
      medium-count:
        value: ${{ jobs.snyk.outputs.medium }}
      low-count:
        value: ${{ jobs.snyk.outputs.low }}

jobs:
  snyk:
    name: Run Snyk Security Scan
    runs-on: ubuntu-latest

    outputs:
      critical: ${{ steps.extract.outputs.critical }}
      high: ${{ steps.extract.outputs.high }}
      medium: ${{ steps.extract.outputs.medium }}
      low: ${{ steps.extract.outputs.low }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}

      - name: Run Snyk Scan
        uses: ./.github/actions/snyk-code-analysis
        with:
          app-path: "."
          snyk-token: ${{ secrets.SNYK_TOKEN }}
          snyk-org: ${{ secrets.SNYK_ORG_ID }}
          snyk-project-name: "jamendozag1819_github-actions-springboot"
          image-sha: ${{ github.sha }}

      - name: Extract Snyk results
        id: extract
        run: |
          CRIT=$(jq '[ .vulnerabilities[] | select(.severity == "critical") ] | length' snyk-report.json)
          HIGH=$(jq '[ .vulnerabilities[] | select(.severity == "high") ] | length' snyk-report.json)
          MED=$(jq '[ .vulnerabilities[] | select(.severity == "medium") ] | length' snyk-report.json)
          LOW=$(jq '[ .vulnerabilities[] | select(.severity == "low") ] | length' snyk-report.json)

          echo "critical=$CRIT" >> $GITHUB_OUTPUT
          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "medium=$MED" >> $GITHUB_OUTPUT
          echo "low=$LOW" >> $GITHUB_OUTPUT
